name: Ubuntu Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test-ubuntu:
    name: Test CyRK on Ubuntu
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest pytest-timeout
      - name: Install package
        run: |
          python -m pip install . -v

      - name: Run pytest
        run: pytest -v --timeout=300 Tests/

  test-39-with-coverage:
    name: Test Python 3.9 and Upload Coverage Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest pytest-cov
      - name: Install package
        run: |
          python -m pip install . -v

      - name: Run pytest
        run: python -m pytest -v --cov=CyRK Tests/
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: false
          flags: unittests
          verbose: true
          name: coverage